@import "./global.scss";

@font-face {
  font-family: Rodchenko;
  src: url("../assets/fonts/Airport.otf");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
}

.header {
  height: 10vh;
  &__button {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    &-link {
      text-decoration: none;
      color: #e12424;
    }
  }
  &__container {
    height: 100%;
    @include flex(row, space-between, center);
    @include Container(2%, 2%, 0, padding);
  }
  &__logo {
    img {
      width: 120px;
      height: 50px;
    }
  }
  &__links {
    height: 100%;
    @include flex(row, space-between, center);
    @include adaptiv(small-pc) {
      display: none;
    }
  }
  &__menu {
    height: 100%;
    @include flex(row, center, center);
  }
  &__buttons {
    @include flex(row, space-between, center);
    gap: 10px;
  }
  &__burger {
    &-img {
      width: 50px;
      height: 50px;
    }
  }
  &__link {
    padding: 25px;
    text-decoration: none;
    color: #f5f3f4;
    font-size: 20px;
    letter-spacing: 5px;
    height: 100%;
    @include flex(row, center, center);
    transition: 0.4s ease-in-out;
    &:hover {
      color: #d00000;
    }
  }
}
.aboutcitY {
  height: 100vh;
  background: url("../assets/img//4562a1a6-99c7-40ee-bbff-9ca955979e7e.png")
    no-repeat center center/cover;
  transition: all 0.4s ease-in-out;
}

.zloiEKB {
  height: 100vh;
  background: url("../assets/img//besov.webp") no-repeat center center/cover;
  transition: all 0.4s ease-in-out;
}

.aboutcity {
  @include Container(5%, 5%, 13%, padding);
  @include flex(column, 0, center);
  gap: 3rem;

  &__title {
    font-size: 100px;
    color: #e5383b;
    letter-spacing: 10px;
    @include adaptiv(table) {
      font-size: 60px;
    }
  }
  &__text {
    max-width: 500px;
    font-size: 30px;
    color: #f5f3f4;
    letter-spacing: 5px;
    text-align: center;
    @include adaptiv(table) {
      font-size: 20px;
    }
  }
}
.citybutton {
  height: 90vh;
  @include Container(2%, 2%, 2%, padding);
  background-color: #161a1d;
  a {
    text-decoration: none;
    color: #f5f3f4;
  }
}

.Bigmap {
  overflow: hidden;
  @include flex(row, space-around, 0);
  @include Container(5%, 5%, 5%, padding);
  padding-bottom: 5%;
  &__hide {
    transition: 0.4s ease-in-out;
    @include flex(row, space-between, center);
    gap: 40px;
  }
  &__text {
    transition: 0.4s ease-in-out;
    @include flex(column, center, center);
    text-align: center;
    gap: 30px;
    max-width: 60vw;
    @include adaptiv(small-pc) {
      max-width: 30vw;
    }
    &-title {
      color: #e12424;
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 800;
      @include adaptiv(small-pc) {
        font-size: 20px;
      }
    }
    &-paragraph {
      max-height: 300px;
      overflow: hidden;
      color: #161a1d;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 800;
      @include adaptiv(small-pc) {
        font-size: 15px;
      }
    }
  }
}

.route {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.mapsmall {
  width: 40vw;
  height: 80vh;
}

.mapbig {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 80vh;
  transition: all 0.4s ease-in-out;
}

.noroute {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.streka_hiden {
  position: absolute;
  right: 0px;
  transition: 0.4s ease-in-out;
  transform: rotate(180deg);
  &:hover {
    transform: translateX(-10px) rotate(180deg);
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.streka {
  transition: 0.4s ease-in-out;
  &:hover {
    transform: translateX(10px);
  }
  img {
    width: 50px;
    height: 50px;
  }
}

.redline {
  height: 100vh;
  @include Container(0px, 10px, 0, padding);
  @include flex(row, 0, 0);
  @include adaptiv(table) {
    height: 150vh;
  }
  &__bigText {
    max-width: 20vw;
    @include flex(column, 0, 0);
    border-right: #e12424 solid 10px;
    @include adaptiv(mobile) {
      border-right: #e12424 solid 4px;
    }
    &_button {
      transition: 0.4s ease-in-out;
      width: 50%;
      font-size: 20px;
      margin: 0 auto;
      background-color: #fff;
      border: 1px solid #cfcece;
      color: #d00000;
      height: 30px;
      border-radius: 20px;
      margin-bottom: 20px;
      @include adaptiv(table) {
        font-size: 15px;
        height: 40px;
        width: 70%;
      }
      &:hover {
        background-color: #d00000;
        color: #fff;
      }
    }
    &_inputbox {
      margin: 0 auto;
      margin-bottom: 10px;
      @include adaptiv(table) {
        @include flex(column, 0, 0);
        gap: 5px;
      }
    }
    &-label {
      margin: 0 auto;
      font-size: 20px;
      margin-bottom: 10px;
      color: #e12424;
      @include adaptiv(table) {
        font-size: 18px;
        text-align: center;
      }
    }
    &-input {
      background-color: #fff;
      width: 80%;
      height: 25px;
      margin: 0 auto;
      border: 1px solid #cfcece;
      border-radius: 10px;
      color: #161a1d;
      padding-left: 10px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    &-title {
      color: #fff;
      background-color: #e12424;
      font-size: 60px;
      margin-bottom: 20px;
      text-align: center;
      @include adaptiv(small-pc) {
        font-size: 25px;
      }
      @include adaptiv(table) {
        font-size: 20px;
      }
    }
    &-text {
      padding-left: 10px;
      @include flex(column, 0, 0);
      gap: 10px;
      font-size: 20px;
      color: #e12424;
      letter-spacing: 2px;
      overflow-y: scroll;
      overflow-x: visible;
      @include adaptiv(table) {
        padding-left: 2px;
        width: 95%;
      }
      a {
        @include adaptiv(table) {
          font-size: 15px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__marshruts {
    @include flex(column, 0, center);
    max-width: 80vw;
    width: 100%;
    &_container {
      width: 100%;
    }
    &-title {
      color: #d00000;
      font-size: 60px;
      text-align: center;
      margin-bottom: 30px;
      @include adaptiv(table) {
        font-size: 30px;
      }
    }
    &-text {
      font-size: 30px;
      color: #d00000;
      margin-top: 70px;
      text-align: center;
      @include adaptiv(table) {
        margin-top: 20px;
        font-size: 20px;
      }
    }

    &__line {
      position: relative;
      @include flex(column, center, center);
      &-img {
        @include adaptiv(small-pc) {
          display: none;
        }
      }
    }
    &-circle {
      position: absolute;
      top: -20px;
      @include flex(row, center, center);
      background-color: #d00000;
      color: #fff;
      font-size: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      @include adaptiv(table) {
        width: 20px;
        height: 20px;
      }
    }
    &__cardBox {
      @include flex(column, 0, center);
      gap: 100px;
      width: 100%;
      height: 50vh;
      margin-top: 50px;
      object-fit: contain;
      &_SmallCardBox {
        width: 100%;
        height: 50vh;
        position: relative;
      }
      &_card {
        width: 100%;
        @include flex(row, center, 0);
        position: absolute;
        top: 0;
        gap: 30px;
        opacity: 0;
        transition: 0.6s ease-in-out;
        @include adaptiv(table) {
          @include flex(row, center, center);
        }
        @include adaptiv(mobile) {
          @include flex(column, center, center);
        }
        &.active {
          opacity: 1;
        }
        &-columnbox {
          width: 200px;
        }
        &-map {
          margin-bottom: 16px;
        }
        &-description {
          border-radius: 5px;
          width: 200px;
          height: 132px;
          text-align: center;
          color: #d00000;
          font-size: 15px;
          letter-spacing: 3px;
        }
        &-img {
          border-radius: 5px;
          overflow: hidden;
          width: 300px;
          height: 300px;
          @include adaptiv(table) {
            width: 200px;
            height: 200px;
          }
          img {
            display: block;
            height: 100%;
          }
        }
      }
    }
  }
}
.arrow-reverse {
  transform: rotate(180deg);
  transition: 0.4s ease-in-out;
  &:hover {
    transform: translateX(20px) rotate(180deg);
  }
}
.arrow {
  transition: 0.4s ease-in-out;
  &:hover {
    transform: translateX(-20px);
  }
}

.modal {
  background-color: #161a1db6;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
  @include flex(row, center, center);
  &__close {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  &__row {
    @include flex(row, space-between, center);
  }
  &-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__over {
    position: relative;
    background-color: #fdfdfd;
    color: #d00000;
    width: 20%;
    height: 50%;
    border-radius: 15px;
    @include flex(column, 0, center);
    gap: 20%;
    @include adaptiv(table) {
      width: 90%;
    }
  }
  &__form {
    width: 250px;
    height: 150px;
    @include flex(column, center, 0);
    gap: 10px;
  }
  &__label {
    font-size: 25px;
  }
  &__input {
    border-radius: 10px;
    border: 1px solid #cfcece;
    padding: 5px;
    color: #d00000;
    font-size: 20px;
    &:focus {
      outline-width: 0;
    }
  }
  &__button {
    border: solid rgb(235, 235, 235) 1px;
    border-radius: 10px;
    padding: 10px 75px;
    color: #d00000;
    background-color: #fdfdfd;
    box-shadow: 4px 5px 0px rgba(34, 60, 80, 0.2);
    margin-top: 100px;
    transition: 0.7s ease-in-out;
    font-size: 20px;
  }
}

.pagination {
  margin-top: 40px;
  font-size: 20px;
  @include flex(row, 0, center);
  color: #e12424;
  text-decoration: underline;
  gap: 10px;
}

.footer {
  margin-top: 30px;
  background-color: #161a1d;
  height: 200px;
  @include flex(row, space-between, center);
  gap: 15rem;
  @include Container(2%, 2%, 0, padding);
  color: #fff;
  @include adaptiv("medium-pc") {
    gap: 10%;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  img {
    width: 30px;
    height: 30px;
  }
  &__logo {
    img {
      width: 150px;
      height: 60px;
      @include adaptiv(table) {
        display: none;
      }
    }
  }
  &__company {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-title {
      font-size: 25px;
      @include adaptiv(table) {
        font-size: 15px;
      }
    }
    &-text {
      font-size: 20px;
      @include adaptiv(table) {
        font-size: 10px;
      }
    }
  }
  &__contacts {
    @include flex(column, center, center);
    gap: 30px;
  }
  &__button {
    padding: 20px;
    transition: 0.7s ease-in-out;
    background-color: #f5f3f4;
    border-radius: 5px;
    a {
      color: black;
    }
    &:hover {
      background-color: black;
      a {
        color: #f5f3f4;
      }
    }
  }
}
.telegram {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Vk {
  display: flex;
  align-items: center;
  gap: 10px;
}
.telefone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controls {
  background-color: #fff;
  border: none;
  @include adaptiv(table) {
    margin-top: 575px;
  }
}
.tour {
  border: solid rgb(235, 235, 235) 1px;
  border-radius: 10px;
  padding: 24px 100px;
  color: #d00000;
  background-color: #fdfdfd;
  box-shadow: 4px 5px 0px rgba(34, 60, 80, 0.2);
  margin-top: 50px;
  transition: 0.7s ease-in-out;

  &:hover {
    background-color: #e12424;
    color: #fff;
  }
  &-text {
    font-size: 20px;
    &-link {
      @include adaptiv(table) {
        margin-top: 250px;
      }
    }
  }
}

.bhide {
  opacity: 0;
  display: none;
}

.burgerMeny {
  transition: 0.7s ease-in-out;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 5;
  background-color: #161a1dc5;
  &_block {
    @include flex(column, 0, center);
    width: 20%;
    height: 70%;
    background-color: #161a1d;
    border-radius: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    @include adaptiv(mobile) {
        width: 50%;
      }
    &_header {
      @include flex(row, 0, center);
      &-img {
        width: 100%;
        height: 80%;
      }
      &-imgsecond {
        width: 40%;
        height: 40%;
      }
    }
    &_spisok {
      margin-top: 30px;
      @include flex(column, 0, center);
      gap: 30%;
      height: 80%;
      &-link {
        text-decoration: none;
        color: #cfcece;
        font-size: 30px;
        transition: 0.4s ease-in-out;
        &:hover {
          color: #d00000;
        }
      }
    }
  }
}

.img__close {
  position: absolute;
  width: 50px;
  height: 40px;
  transform: rotate(45deg);
  right: 0px;
}

.rotate {
  transform: rotate(-45deg);
}

.deactive {
  display: none;
}

.activity {
  display: flex;
}

.owerflo {
  overflow: hidden;
}

.noover {
  overflow: auto;
}

.hide {
  display: none;
}
.activeLink {
  display: flex;
}
.activePage {
  display: flex;
}
.hidePage {
  display: none;
}
